.footer1 a {
    color: #6b6b71;
    text-decoration: none;
}

.footer1 a:hover {
    text-decoration: underline;
}

.footer1 h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin: 30px 250px;
    line-height: 1.6;
}

.footer2 div {
    flex: 1;
    min-width: 180px;
}

.footer2 a {
    display: block;
    margin-bottom: 6px;
    color: #9d9da4;
}

.footer2 a:hover {
    text-decoration: underline;
}
